In [1]:
import geopandas as gpd
from shapely.geometry import Point

In [2]:
# Create a GeoDataFrame with a single Point geometry
data = {'Name': ['Point 1', 'Point 2'],
        'Longitude': [-122.42, -122.4],
        'Latitude': [37.78, 37.79]}
df = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data['Longitude'], data['Latitude']))

In [3]:
df

      Name  Longitude  Latitude                     geometry
0  Point 1    -122.42     37.78  POINT (-122.42000 37.78000)
1  Point 2    -122.40     37.79  POINT (-122.40000 37.79000)

In [4]:
# Accessing X and Y coordinates of a point
df['X Coordinate'] = df['geometry'].x
df['Y Coordinate'] = df['geometry'].y

In [5]:
df

,Name,Longitude,Latitude,geometry,X Coordinate,Y Coordinate
0,Point 1,-122.42,37.78,POINT (-122.42000 37.78000),-122.42,37.78
1,Point 2,-122.40,37.79,POINT (-122.40000 37.79000),-122.40,37.79

In [6]:
# Calculating distance between two points
point1 = df['geometry'].iloc[0]
point2 = df['geometry'].iloc[1]
distance = point1.distance(point2)
print('Distance between Point 1 and Point 2:', distance)

Distance between Point 1 and Point 2: 0.02236067977499345