In [1]:
import geopandas as gpd
from shapely.geometry import Point

In [2]:
# Read point data
data = gpd.read_file('PointData.shp')

In [3]:
# Define the projected CRS
data = data.to_crs('EPSG:32618')

In [4]:
data.head()

   ID      ADM0       ADM1        ADM2                        geometry
0   1  COLOMBIA    Guajira      URIBIA  POINT (854397.657 1329628.297)
1   2  COLOMBIA    Guajira     MANAURE  POINT (765531.781 1281437.711)
2   3  COLOMBIA    Guajira      MAICAO  POINT (789051.451 1252899.561)
3   4  COLOMBIA    Guajira    RIOHACHA  POINT (702989.725 1233479.337)
4   5  COLOMBIA  Magdalena  SITIONUEVO  POINT (538736.580 1203236.052)

# X and Y Coordinates: Extract the longitude (x-coordinate) and latitude (y-coordinate) values from each point in the dataset.

In [5]:
# Extract x and y coordinates
data['x'] = data.geometry.x
data['y'] = data.geometry.y

In [6]:
# View the coordinates
data.head()

,ID,ADM0,ADM1,ADM2,geometry,x,y
0,1,COLOMBIA,Guajira,URIBIA,POINT (854397.657 1329628.297),854397.656633,1.329628e+06
1,2,COLOMBIA,Guajira,MANAURE,POINT (765531.781 1281437.711),765531.781009,1.281438e+06
2,3,COLOMBIA,Guajira,MAICAO,POINT (789051.451 1252899.561),789051.450617,1.252900e+06
3,4,COLOMBIA,Guajira,RIOHACHA,POINT (702989.725 1233479.337),702989.724506,1.233479e+06
4,5,COLOMBIA,Magdalena,SITIONUEVO,POINT (538736.580 1203236.052),538736.579758,1.203236e+06

# Distance Metrics: Calculate distances between points

In [7]:
#Specify index point to which we need to find distance from
index_point = Point(292178.489, 39347.601)

# Calculate the distance between each row and the index point
distances = data.geometry.distance(index_point)

In [8]:
# Add the distances as a new column in the GeoDataFrame
data['distance_to_index'] = distances

In [9]:
data.head()

,ID,ADM0,ADM1,ADM2,geometry,x,y,distance_to_index
0,1,COLOMBIA,Guajira,URIBIA,POINT (854397.657 1329628.297),854397.656633,1.329628e+06,1.407450e+06
1,2,COLOMBIA,Guajira,MANAURE,POINT (765531.781 1281437.711),765531.781009,1.281438e+06,1.329230e+06
2,3,COLOMBIA,Guajira,MAICAO,POINT (789051.451 1252899.561),789051.450617,1.252900e+06,1.311332e+06
3,4,COLOMBIA,Guajira,RIOHACHA,POINT (702989.725 1233479.337),702989.724506,1.233479e+06,1.262821e+06
4,5,COLOMBIA,Magdalena,SITIONUEVO,POINT (538736.580 1203236.052),538736.579758,1.203236e+06,1.189717e+06